<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.proghouse.robocam">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- <uses-permission android:name="com.android.vending.BILLING" /> -->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".HttpServer"
            android:enabled="true"
            android:exported="true" >
        </service>
        <activity
            android:name=".GlobalSettingsActivity"
            android:label="@string/title_activity_global_settings" >
        </activity>
        <activity
            android:name=".ServerSettingsActivity"
            android:label="@string/title_activity_server_settings"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name=".RobotSettingsListActivity"
            android:label="@string/title_activity_robot_settings_list"
            android:windowSoftInputMode="">
        </activity>
        <activity
            android:name=".EV3SettingsActivity"
            android:label="@string/title_activity_ev3_settings"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>